@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	One Microsoft Way<br />
	Rachelsmolen 1, 5612 MA Eindhoven<br />
	<abbr title="Phone">06-36433365</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="i433786@fhict.nl">i433786@fhict.nl</a><br />
    <strong>Marketing:</strong> <a href="433786@student.fontys.nl">433786@student.fontys.nl</a>
</address>