<html>
<head>
	@{
		ViewBag.Title = "Home Page";
	}
</head>

<body>
	<h1>Welcome to My asp.Net project</h1>


	<p>dit is mijn pizzaria die ik heb gemaakt voor het 2e semester van software op de fontys.	<br>
	   in deze applicatie toon ik zowel mijn kunsten met Asp.Net aan als met het creeren van een functionerende database. <br> 	
	</p>
</body>
</html>
 